#root, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/** Default Colors */
/** Auto Dark//Blue Theme */
:root {
    --Primary: rgba(0, 41, 82, 0.5);
    --Secondary: rgb(9, 11, 17);
    --Background: hsl(220, 35%, 3%);
    --Outlines: hsl(220deg 20% 25% / 60%);
    --Text: #fff;
    --Interactable: hsl(220, 35%, 3%);
}